pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.19.13.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.13.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.13.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.19.13-zen1/linux-v6.19.13-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.19.13-zen1/linux-v6.19.13-zen1.patch.zst.sig
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 0559b1fea740e71714b4368023902b7d098c45ac1faa3176eab392c867645648
	sha256sums = SKIP
	sha256sums = bd65b8e763e82af57b4b95d124dcfe7aed6a02f2d50f35c81d89ea30b280ab34
	sha256sums = SKIP
	b2sums = bd6ae85226bcbaba096c64d5cd20ad18d24e9fb5484394ce7db27326d37da500ffdc7bd765493a0a167944836be7275bb84807991a0266f072c0d87ec5df84b3
	b2sums = SKIP
	b2sums = e914422ce1ccd63a7f3644cfd8bf7698b19665d23944a52e62165fe7f80b7954fe1e016f2cb40844118bdee4105b1dce14d2012bb524a81e2e1641228b7592b6
	b2sums = SKIP
	source_x86_64 = config.x86_64
	b2sums_x86_64 = 2b398a724d958c2f1badea65fdfa8297e0e07371f72756407d4d0b40bcda4b8f9c3ca4ac10e56106cbd42ea9dfced051d85cda109bbd042cbb6056c6ddf5f617

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-zen-headers: headers and scripts for building modules
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	provides = LINUX-HEADERS

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
