pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.17.4.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.4.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.17.4-zen1/linux-v6.17.4-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.17.4-zen1/linux-v6.17.4-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 010a12296e6fba7597ff36681be2485fd3b1780ac8fd9e6a9f3cfe193f0491db
	sha256sums = SKIP
	sha256sums = ae637e57a54ab12cb368ff7e4460fd22d0e64e0a08ed504f74339c1abf8a3884
	sha256sums = SKIP
	sha256sums = da5b9c892b883b1cc3036ebe071cfa07b19147ff34aeb1dbd2e825346f701fdf
	b2sums = 4999251820375def8ab39ea74fd62f08ca190a048b1cc431ec5dbe048d7f61f5af2d0b6264636d240f32bae64def9249287b6ebd31bf89ca047a75d193b5198d
	b2sums = SKIP
	b2sums = dadb573ca7e53773968026db029287e91538694ab3a3e16a4d893f648f78325eeaeb5707f96294d537de2bbd379887477f6f94daf73ac0cf5268fce70d63fbd4
	b2sums = SKIP
	b2sums = fb66118f7c8934c305fb184abaab756123ce74f2f0c5cd6ae0a5a2df5450659fa18476fe949960f4a0f513bf36da318181f3fa9e19122f8b55e09096a1e8d5fd

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
