pkgbase = linux-zen
	pkgdesc = Linux ZEN
	pkgver = 6.14.7.zen1
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.7.tar.sign
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.14.7-zen1/linux-v6.14.7-zen1.patch.zst
	source = https://github.com/zen-kernel/zen-kernel/releases/download/v6.14.7-zen1/linux-v6.14.7-zen1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 8112202bc26d086957a94d2109a6dcd4478c5ba18d0f0a5e1c5dfeea01f54972
	sha256sums = SKIP
	sha256sums = 88d03aa288795041be0711829f50dd11028aa0327df6adf49165f5130fd2e494
	sha256sums = SKIP
	sha256sums = b4c09f7f70026861343a2d80046bd62919e3877ea8734601c0308c75fd351ce0
	b2sums = 1b0dc72ec9ff449d7245a0a457a8c1eea3ba63b42c5c179d9262cdbc2f04451c12359fadf74c7464b67115e9206730787b56a3dd539297e7e5c1ad2ae7e13632
	b2sums = SKIP
	b2sums = 5435ef46a18409d856b5f49ca3f3d109cfee2d952854e4f215955a1efd224dc5bf64eeabfc1ef0e8713d20e93be41525557c5f3197c63e5caed0564334f7d893
	b2sums = SKIP
	b2sums = 1f3e65b61f8b157f698a18bca06ed2de822a0c64e569d08dc2dfc62cda94c1812c80da4001b288f1f2a3dd82c6451c66512f4b55de9281e7428404cb80304416

pkgname = linux-zen
	pkgdesc = The Linux ZEN kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = 

pkgname = linux-zen-headers
	pkgdesc = Headers and scripts for building modules for the Linux ZEN kernel
	depends = pahole

pkgname = linux-zen-docs
	pkgdesc = Documentation for the Linux ZEN kernel
